:root {
  --highlighted-color: #fb9173;
  --base-color: #fe1a55;
  --shadow-color: #ca215a;
  --deep-shadow-color: #491556;
  --background-color: #0e0b4d;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-color);
}

.device {
  position: relative;
  width: 80%;
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle {
  width: 6%;
  height: 96%;
  background-color: var(--base-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  -ms-grid-rows: 50fr 2fr;
      grid-template-rows: 50fr 2fr;
  border-radius: 50% / 2%;
  overflow: hidden;
}

.middle .highlight {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-color: var(--highlighted-color);
}

.middle .shadow {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-color: var(--deep-shadow-color);
}

.middle .bottomShadow {
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: 1 / -1;
  background-color: var(--deep-shadow-color);
  border-radius: 50%;
}

.container {
  width: 47%;
  height: 98.5%;
  align-self: flex-end;
  overflow: hidden;
  border-bottom-left-radius: 5% 2.5%;
  border-bottom-right-radius: 5% 2.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25fr 70fr 5fr;
      grid-template-rows: 25fr 70fr 5fr;
}

.shadow {
  background-color: var(--deep-shadow-color);
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  margin-top: -5%;
}

.frontalFace {
  grid-row: 1 / -2;
  border-bottom-left-radius: 5% 2.5%;
  border-bottom-right-radius: 5% 2.5%;
}

.left {
  border-top-left-radius: 5% 2.5%;
}

.left .frontalFace {
  background-color: var(--shadow-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1%)[100];
      grid-template-rows: repeat(100, 1%);
  -ms-grid-columns: (1%)[100];
      grid-template-columns: repeat(100, 1%);
}

.left .top {
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / span 12;
  grid-column: 1 / -1;
  background-color: var(--base-color);
}

.left .top .trapezoid {
  position: relative;
  top: -30%;
  border-top: 14vh solid var(--base-color);
  border-right: 25vh solid transparent;
  height: 0;
  width: 25%;
}

.left .top .trapezoidShadow {
  position: relative;
  top: 120%;
  border-top: 14vh solid var(--deep-shadow-color);
  border-right: 25vh solid transparent;
  height: 0;
  width: 25%;
}

.left .dropShadow {
  -ms-grid-row: 13;
  -ms-grid-row-span: 3;
  grid-row: 13 / span 3;
  grid-column: 1 / -1;
  background-color: var(--deep-shadow-color);
}

.left .lines {
  -ms-grid-row: 5;
  -ms-grid-row-span: 94;
  -ms-grid-column: 4;
  -ms-grid-column-span: 94;
  grid-area: 5 / 4 / span 94 / span 94;
  border: 8px solid var(--deep-shadow-color);
  border-radius: 5% / 3%;
}

.right .frontalFace {
  border-top-right-radius: 5% 2.5%;
  grid-row: 2 / -2;
  background-color: var(--base-color);
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=index.css.map */