@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap");
:root {
  --base-highlighted-color: #fb9173;
  --base-color: #fe1a55;
  --base-shadow-color: #ca215a;
  --base-deep-shadow-color: #491556;
  --background-color: #0e0b4d;
  --red: #fe1a55;
  --orange: #fb8e55;
  --yellow: #f9ef61;
  --green: #31f554;
  --cyan: #01d7fd;
  --dark-cyan: #01b3d5;
  --blue: #00abf6;
  --white: #f3f4e6;
  --gray: #142b5b;
  --black: #010950;
  --normal-font: "Poppins";
  --retro-font: "Press Start 2P", cursivo;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-color);
  font-family: var(--normal-font);
}

.device {
  position: relative;
  width: 70%;
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle {
  width: 6%;
  height: 96%;
  background-color: var(--base-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  -ms-grid-rows: 50fr 2fr;
      grid-template-rows: 50fr 2fr;
  border-radius: 50% / 2%;
  overflow: hidden;
}

.middle .highlight {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-color: var(--base-highlighted-color);
}

.middle .shadow {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-color: var(--base-deep-shadow-color);
}

.middle .bottomShadow {
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: 1 / -1;
  background-color: var(--base-deep-shadow-color);
  border-radius: 50%;
}

.container {
  width: 47%;
  height: 98.5%;
  align-self: flex-end;
  overflow: hidden;
  border-bottom-left-radius: 5% 2.5%;
  border-bottom-right-radius: 5% 2.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25fr 70fr 5fr;
      grid-template-rows: 25fr 70fr 5fr;
}

.shadow {
  background-color: var(--base-deep-shadow-color);
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  margin-top: -5%;
}

.frontalFace {
  grid-row: 1 / -2;
  border-bottom-left-radius: 5% 2.5%;
  border-bottom-right-radius: 5% 2.5%;
}

.left {
  border-top-left-radius: 5% 2.5%;
}

.left .frontalFace {
  background-color: var(--base-shadow-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1%)[100];
      grid-template-rows: repeat(100, 1%);
  -ms-grid-columns: (1%)[100];
      grid-template-columns: repeat(100, 1%);
}

.left .top {
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / span 12;
  grid-column: 1 / -1;
  background-color: var(--base-color);
}

.left .top .trapezoid {
  position: relative;
  top: -30%;
  border-top: 14vh solid var(--base-color);
  border-right: 25vh solid transparent;
  height: 0;
  width: 25%;
}

.left .top .trapezoidShadow {
  position: relative;
  top: 120%;
  border-top: 14vh solid var(--base-deep-shadow-color);
  border-right: 25vh solid transparent;
  height: 0;
  width: 27%;
}

.left .top .circlesContainer {
  position: absolute;
  top: 4.5vh;
  left: 2.8vh;
  height: 17%;
  width: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left .top .circlesContainer .circle {
  width: 10%;
  height: 20%;
  border: 0.6vh solid var(--black);
  border-radius: 100%;
  -webkit-box-shadow: 0.3vh 0.3vh var(--base-deep-shadow-color);
          box-shadow: 0.3vh 0.3vh var(--base-deep-shadow-color);
}

.left .top .circlesContainer .frame {
  width: 52%;
  height: 104%;
  background-color: var(--white);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.8vh 0.8vh var(--base-deep-shadow-color);
          box-shadow: 0.8vh 0.8vh var(--base-deep-shadow-color);
}

.left .top .circlesContainer .frame .circle {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.left .top .circlesContainer .big {
  width: 60%;
  height: 60%;
  border-width: 0.8vh;
}

.left .top .circlesContainer .highlight {
  width: 25%;
  height: 25%;
  border: none;
  margin-top: 18%;
  margin-left: 18%;
  background-color: var(--white);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.left .top .circlesContainer .blue {
  background-color: var(--blue);
}

.left .top .circlesContainer .red {
  background-color: var(--red);
}

.left .top .circlesContainer .yellow {
  background-color: var(--yellow);
}

.left .top .circlesContainer .green {
  background-color: var(--green);
}

.left .top .circlesContainer .shadow {
  background-color: var(--base-deep-shadow-color);
}

.left .dropShadow {
  -ms-grid-row: 13;
  -ms-grid-row-span: 3;
  grid-row: 13 / span 3;
  grid-column: 1 / -1;
  background-color: var(--base-deep-shadow-color);
}

.left .lines {
  -ms-grid-row: 5;
  -ms-grid-row-span: 94;
  -ms-grid-column: 4;
  -ms-grid-column-span: 94;
  grid-area: 5 / 4 / span 94 / span 94;
  border: 1vh solid var(--base-deep-shadow-color);
  border-radius: 5% / 3%;
}

.left .bottom {
  -ms-grid-row: 75;
  -ms-grid-row-span: 22;
  -ms-grid-column: 6;
  -ms-grid-column-span: 90;
  grid-area: 75 / 6 / span 22 / span 90;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[84];
      grid-template-columns: repeat(84, 1fr);
  -ms-grid-rows: (1fr)[60];
      grid-template-rows: repeat(60, 1fr);
}

.left .bottom .circleButton {
  -ms-grid-row: 6;
  -ms-grid-row-span: 26;
  -ms-grid-column: 5;
  -ms-grid-column-span: 13;
  grid-area: 6 / 5 / span 26 / span 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: (1fr)[20];
      grid-template-rows: repeat(20, 1fr);
}

.left .bottom .circleButton .buttonSurface {
  -ms-grid-row: 2;
  -ms-grid-row-span: 16;
  -ms-grid-column: 2;
  -ms-grid-column-span: 16;
  grid-area: 2 / 2 / span 16 / span 16;
  background-color: var(--blue);
  border-radius: 100%;
}

.left .bottom .circleButton .buttonShadow {
  -ms-grid-row: 4;
  -ms-grid-row-span: 16;
  -ms-grid-column: 4;
  -ms-grid-column-span: 16;
  grid-area: 4 / 4 / span 16 / span 16;
  background-color: var(--base-deep-shadow-color);
  border-radius: 100%;
}

.left .bottom .circleButton:hover .buttonSurface {
  background-color: var(--white);
}

.left .bottom .circleButton .buttonSurface.pressed {
  -ms-grid-row: 3;
  -ms-grid-row-span: 16;
  -ms-grid-column: 3;
  -ms-grid-column-span: 16;
  grid-area: 3 / 3 / span 16 / span 16;
}

.left .bottom .flatButtonL {
  -ms-grid-row: 14;
  -ms-grid-row-span: 10;
  -ms-grid-column: 20;
  -ms-grid-column-span: 13;
  grid-area: 14 / 20 / span 10 / span 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: (1fr)[20];
      grid-template-rows: repeat(20, 1fr);
}

.left .bottom .flatButtonL .buttonSurface {
  -ms-grid-row: 5;
  -ms-grid-row-span: 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 16;
  grid-area: 5 / 2 / span 10 / span 16;
  background-color: var(--green);
  border-radius: 18% / 82%;
}

.left .bottom .flatButtonL .buttonShadow {
  -ms-grid-row: 8;
  -ms-grid-row-span: 10;
  -ms-grid-column: 4;
  -ms-grid-column-span: 16;
  grid-area: 8 / 4 / span 10 / span 16;
  background-color: var(--base-deep-shadow-color);
  border-radius: 18% / 82%;
}

.left .bottom .flatButtonL:hover .buttonSurface {
  background-color: var(--white);
}

.left .bottom .flatButtonL .buttonSurface.pressed {
  -ms-grid-row: 6;
  -ms-grid-row-span: 10;
  -ms-grid-column: 3;
  -ms-grid-column-span: 16;
  grid-area: 6 / 3 / span 10 / span 16;
}

.left .bottom .flatButtonR {
  -ms-grid-row: 14;
  -ms-grid-row-span: 10;
  -ms-grid-column: 35;
  -ms-grid-column-span: 13;
  grid-area: 14 / 35 / span 10 / span 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: (1fr)[20];
      grid-template-rows: repeat(20, 1fr);
}

.left .bottom .flatButtonR .buttonSurface {
  -ms-grid-row: 5;
  -ms-grid-row-span: 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 16;
  grid-area: 5 / 2 / span 10 / span 16;
  background-color: var(--orange);
  border-radius: 18% / 82%;
}

.left .bottom .flatButtonR .buttonShadow {
  -ms-grid-row: 8;
  -ms-grid-row-span: 10;
  -ms-grid-column: 4;
  -ms-grid-column-span: 16;
  grid-area: 8 / 4 / span 10 / span 16;
  background-color: var(--base-deep-shadow-color);
  border-radius: 18% / 82%;
}

.left .bottom .flatButtonR:hover .buttonSurface {
  background-color: var(--white);
}

.left .bottom .flatButtonR .buttonSurface.pressed {
  -ms-grid-row: 6;
  -ms-grid-row-span: 10;
  -ms-grid-column: 3;
  -ms-grid-column-span: 16;
  grid-area: 6 / 3 / span 10 / span 16;
}

.left .bottom .deviceTag {
  -ms-grid-row: 38;
  -ms-grid-row-span: 18;
  -ms-grid-column: 5;
  -ms-grid-column-span: 37;
  grid-area: 38 / 5 / span 18 / span 37;
  border-radius: 3% / 15%;
  background-color: var(--yellow);
}

.left .bottom .dpadGrid {
  -ms-grid-row: 12;
  -ms-grid-row-span: 44;
  -ms-grid-column: 59;
  -ms-grid-column-span: 22;
  grid-area: 12 / 59 / span 44 / span 22;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 50fr 1fr;
      grid-template-rows: 1fr 50fr 1fr;
  -ms-grid-columns: 1fr 50fr 1fr;
      grid-template-columns: 1fr 50fr 1fr;
}

.left .bottom .dpadGrid .dpadSurface {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / span 2 / span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 8fr 1fr 10fr 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr 10fr 1fr 8fr 1fr;
  -ms-grid-columns: 1fr 8fr 1fr 10fr 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr 10fr 1fr 8fr 1fr;
}

.left .bottom .dpadGrid .dpadSurface .middlePad {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / span 2 / span 2;
  background-color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .bottom .dpadGrid .dpadSurface .middlePad .figCircle {
  width: 65%;
  height: 65%;
  border-radius: 100%;
  background-color: var(--gray);
}

.left .bottom .dpadGrid .dpadSurface .topButton {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / span 2 / span 2;
  border-top-left-radius: 10% 18%;
  border-top-right-radius: 10% 18%;
  background-color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .bottom .dpadGrid .dpadSurface .topButton .figTriangle {
  width: 1%;
  height: 0;
  border-bottom: 2vh solid var(--gray);
  border-left: 1.5vh solid rgba(0, 0, 0, 0);
  border-right: 1.5vh solid rgba(0, 0, 0, 0);
}

.left .bottom .dpadGrid .dpadSurface .topButton:hover .figTriangle {
  border-bottom-color: var(--white);
}

.left .bottom .dpadGrid .dpadSurface .topButton.pressed {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 2 / 4 / span 1 / span 2;
}

.left .bottom .dpadGrid .dpadSurface .topButton.pressed .figTriangle {
  border-bottom-color: var(--white);
}

.left .bottom .dpadGrid .dpadSurface .rightButton {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 3 / 5 / span 2 / span 2;
  border-top-right-radius: 18% 10%;
  border-bottom-right-radius: 18% 10%;
  background-color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .bottom .dpadGrid .dpadSurface .rightButton .figTriangle {
  width: 1%;
  height: 0;
  border-top: 1.5vh solid rgba(0, 0, 0, 0);
  border-left: 2vh solid var(--gray);
  border-bottom: 1.5vh solid rgba(0, 0, 0, 0);
}

.left .bottom .dpadGrid .dpadSurface .rightButton:hover .figTriangle {
  border-left-color: var(--white);
}

.left .bottom .dpadGrid .dpadSurface .rightButton.pressed {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: 4 / 5 / span 2 / span 3;
}

.left .bottom .dpadGrid .dpadSurface .rightButton.pressed .figTriangle {
  border-left-color: var(--white);
}

.left .bottom .dpadGrid .dpadSurface .bottomButton {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 5 / 3 / span 2 / span 2;
  border-bottom-left-radius: 10% 18%;
  border-bottom-right-radius: 10% 18%;
  background-color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .bottom .dpadGrid .dpadSurface .bottomButton .figTriangle {
  width: 1%;
  height: 0;
  border-top: 2vh solid var(--gray);
  border-left: 1.5vh solid rgba(0, 0, 0, 0);
  border-right: 1.5vh solid rgba(0, 0, 0, 0);
}

.left .bottom .dpadGrid .dpadSurface .bottomButton:hover .figTriangle {
  border-top-color: var(--white);
}

.left .bottom .dpadGrid .dpadSurface .bottomButton.pressed {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 5 / 4 / span 3 / span 2;
}

.left .bottom .dpadGrid .dpadSurface .bottomButton.pressed .figTriangle {
  border-top-color: var(--white);
}

.left .bottom .dpadGrid .dpadSurface .leftButton {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / span 2 / span 2;
  border-top-left-radius: 18% 10%;
  border-bottom-left-radius: 18% 10%;
  background-color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .bottom .dpadGrid .dpadSurface .leftButton .figTriangle {
  width: 1%;
  height: 0;
  border-top: 1.5vh solid rgba(0, 0, 0, 0);
  border-right: 2vh solid var(--gray);
  border-bottom: 1.5vh solid rgba(0, 0, 0, 0);
}

.left .bottom .dpadGrid .dpadSurface .leftButton:hover .figTriangle {
  border-right-color: var(--white);
}

.left .bottom .dpadGrid .dpadSurface .leftButton.pressed {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / span 2 / span 1;
}

.left .bottom .dpadGrid .dpadSurface .leftButton.pressed .figTriangle {
  border-right-color: var(--white);
}

.left .bottom .dpadGrid .dpadShadow {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2 / 2 / span 2 / span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 8fr 1fr 10fr 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr 10fr 1fr 8fr 1fr;
  -ms-grid-columns: 1fr 8fr 1fr 10fr 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr 10fr 1fr 8fr 1fr;
}

.left .bottom .dpadGrid .dpadShadow .horizontalShadow {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: 4 / 2 / span 2 / span 6;
  border-radius: 5% / 10%;
  background-color: var(--base-deep-shadow-color);
}

.left .bottom .dpadGrid .dpadShadow .verticalShadow {
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 2 / 4 / span 6 / span 2;
  border-radius: 10% / 5%;
  background-color: var(--base-deep-shadow-color);
}

.left .borderShadow {
  -ms-grid-row: 33;
  -ms-grid-row-span: 41;
  -ms-grid-column: 11;
  -ms-grid-column-span: 82;
  grid-area: 33 / 11 / span 41 / span 82;
  border-radius: 3% / 5%;
  border-bottom-left-radius: 15% 20%;
  background-color: var(--base-deep-shadow-color);
}

.left .border {
  -ms-grid-row: 32;
  -ms-grid-row-span: 41;
  -ms-grid-column: 10;
  -ms-grid-column-span: 82;
  grid-area: 32 / 10 / span 41 / span 82;
  border-radius: 3% / 5%;
  border-bottom-left-radius: 15% 20%;
  background-color: var(--white);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.2fr 10fr 2fr;
      grid-template-rows: 1fr 0.2fr 10fr 2fr;
  -ms-grid-columns: 1fr 0.5fr 30fr 1fr;
      grid-template-columns: 1fr 0.5fr 30fr 1fr;
}

.left .border .screen {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: 3 / 3;
  background-color: var(--cyan);
  border-radius: 3% / 5%;
}

.left .border .screenShadow {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2 / 2 / span 2 / span 2;
  background-color: var(--gray);
  border-radius: 3% / 5%;
}

.left .border .bottomMenu {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: 4 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .border .bottomMenu .searchBar {
  text-align: center;
  width: 40%;
  height: 50%;
  border: none;
  border-bottom: 0.2vh solid var(--black);
  background-color: var(--white);
  color: var(--black);
  outline: none;
  font-size: 1.8vh;
  font-family: var(--normal-font);
  font-weight: bold;
}

.left .border .bottomMenu .searchBar.error {
  color: var(--base-color);
  border-bottom-color: var(--base-color);
}

.right .frontalFace {
  grid-row: 2 / -2;
  background-color: var(--base-color);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 0.02fr 0.96fr 0.02fr;
      grid-template-columns: 0.02fr 0.96fr 0.02fr;
}

.right .frontalFace .left {
  -ms-grid-row: 1;
  grid-area: 1;
}

.right .frontalFace .shadow {
  background-color: var(--base-shadow-color);
}

.right .frontalFace .lines {
  -ms-grid-row: 1;
  grid-area: 1;
  width: 92.5%;
  height: 91.5%;
  border: 1vh solid var(--base-deep-shadow-color);
  margin: auto;
  border-top: 1vh solid var(--base-color);
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 10fr 1fr 8fr 1fr 0.8fr 1fr 3fr 4fr 4.5fr 4fr;
      grid-template-rows: 2fr 10fr 1fr 8fr 1fr 0.8fr 1fr 3fr 4fr 4.5fr 4fr;
  -ms-grid-columns: 1fr 14fr 1fr;
      grid-template-columns: 1fr 14fr 1fr;
}

.right .frontalFace .lines .screen {
  width: 45%;
  height: 100%;
  border-radius: 3% / 9%;
  background-color: var(--gray);
  -webkit-box-shadow: inset 0.7vh 0.7vh var(--black);
          box-shadow: inset 0.7vh 0.7vh var(--black);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.right .frontalFace .lines .buttonBoard {
  width: 100%;
  height: 100%;
  border-radius: 3% / 12%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.right .frontalFace .lines .buttonBoard .button {
  width: 92%;
  height: 87%;
  background-color: var(--blue);
  margin: 0;
  border-top: 0.4vh solid var(--cyan);
  border-left: 0.4vh solid var(--cyan);
  border-bottom: 0.4vh solid var(--gray);
  border-right: 0.4vh solid var(--gray);
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.right .frontalFace .lines .buttonBoard .button.pressed {
  border-top: 0.4vh solid var(--gray);
  border-left: 0.4vh solid var(--gray);
  border-bottom: 0.4vh solid var(--cyan);
  border-right: 0.4vh solid var(--cyan);
}

.right .frontalFace .lines .button {
  width: 47%;
  height: 100%;
  -webkit-box-shadow: 0.7vh 0.7vh var(--base-deep-shadow-color);
          box-shadow: 0.7vh 0.7vh var(--base-deep-shadow-color);
  border-radius: 5% / 15%;
}

.right .frontalFace .lines .pressed {
  margin-top: 1%;
  margin-left: 1%;
  -webkit-box-shadow: 0.35vh 0.35vh var(--base-deep-shadow-color);
          box-shadow: 0.35vh 0.35vh var(--base-deep-shadow-color);
}

.right .frontalFace .lines .circle {
  width: 9%;
  height: 85%;
  border: 0.6vh solid var(--black);
  border-radius: 100%;
  -webkit-box-shadow: 0.5vh 0.5vh var(--base-deep-shadow-color);
          box-shadow: 0.5vh 0.5vh var(--base-deep-shadow-color);
  background-color: var(--yellow);
}

.right .frontalFace .lines .circle .highlight {
  width: 25%;
  height: 25%;
  border: none;
  margin-top: 18%;
  margin-left: 18%;
  background-color: var(--white);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.right .frontalFace .lines .wide {
  width: 100%;
}

.right .frontalFace .lines .small {
  -webkit-box-shadow: 0.4vh 0.4vh var(--base-deep-shadow-color);
          box-shadow: 0.4vh 0.4vh var(--base-deep-shadow-color);
  border-radius: 15% / 40%;
}

.right .frontalFace .lines .small.pressed {
  margin-top: 2%;
  margin-left: 2%;
  -webkit-box-shadow: 0.2vh 0.2vh var(--base-deep-shadow-color);
          box-shadow: 0.2vh 0.2vh var(--base-deep-shadow-color);
}

.right .frontalFace .lines .black {
  background-color: var(--black);
}

.right .frontalFace .lines .white {
  background-color: var(--white);
}

.right .frontalFace .lines .container {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: visible;
}

.right .frontalFace .lines .firstRow {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2;
}

.right .frontalFace .lines .secondRow {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: 4 / 2;
}

.right .frontalFace .lines .thirdRow {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: 6 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right .frontalFace .lines .forthRow {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: 8 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .frontalFace .lines .forthRow .container {
  width: 65%;
}

.right .frontalFace .lines .fifthRow {
  -ms-grid-row: 10;
  -ms-grid-column: 2;
  grid-area: 10 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 16fr;
      grid-template-rows: 3fr 16fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: hidden;
}

.screen #pokemonName {
  -ms-grid-row: 1;
  grid-area: 1;
  font-size: 1.5vh;
  font-family: var(--retro-font);
  color: var(--white);
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  padding-top: 1.2%;
  padding-bottom: 0.6%;
  background-color: var(--blue);
}

.screen #pokemonImg {
  -ms-grid-row: 2;
  grid-area: 2;
  -webkit-transform: scale(200%);
          transform: scale(200%);
  visibility: hidden;
  margin: auto;
}

.black {
  background-color: black;
}

.gray {
  background-color: #212121;
}

.white {
  background-color: rgba(255, 255, 255, 0.25);
}
/*# sourceMappingURL=index.css.map */